In [1]:
import numpy as np
import pandas as pd

In [11]:
country = ['India','USA','Nepal','Pakistan','Srilanka']
pd.Series(country)

0       India
1         USA
2       Nepal
3    Pakistan
4    Srilanka
dtype: object

In [14]:
runs = [45,67,89,88,99,100]
pd.Series(runs)

0     45
1     67
2     89
3     88
4     99
5    100
dtype: int64

In [22]:
subjects = ['Science','Social','Math','Hindi','English']
marks = [89,77,88,100,90]
marks_series = pd.Series(marks,index = subjects,name = "Nadir ke marks")
marks_series

Science     89
Social      77
Math        88
Hindi      100
English     90
Name: Nadir ke marks, dtype: int64

In [24]:
Dict = {
    'Science':89,
    'Social':77,
    'Math':88,
    'Hindi':100,
    'English':90
}
pd.Series(Dict,name = "Nadir ke marks")

Science     89
Social      77
Math        88
Hindi      100
English     90
Name: Nadir ke marks, dtype: int64

In [28]:
marks_series.size

5

AttributeError: 'list' object has no attribute 'size'

In [3]:
movies = pd.read_csv("bollywood.csv")
movies

                                     movie              lead
0                 Uri: The Surgical Strike     Vicky Kaushal
1                            Battalion 609       Vicky Ahuja
2     The Accidental Prime Minister (film)       Anupam Kher
3                          Why Cheat India     Emraan Hashmi
4                          Evening Shadows  Mona Ambegaonkar
...                                    ...               ...
1495                Hum Tumhare Hain Sanam    Shah Rukh Khan
1496                   Aankhen (2002 film)  Amitabh Bachchan
1497                       Saathiya (film)      Vivek Oberoi
1498                        Company (film)        Ajay Devgn
1499                  Awara Paagal Deewana      Akshay Kumar

[1500 rows x 2 columns]

In [5]:
movies["movie"]

0                   Uri: The Surgical Strike
1                              Battalion 609
2       The Accidental Prime Minister (film)
3                            Why Cheat India
4                            Evening Shadows
                        ...
1495                  Hum Tumhare Hain Sanam
1496                     Aankhen (2002 film)
1497                         Saathiya (film)
1498                          Company (film)
1499                    Awara Paagal Deewana
Name: movie, Length: 1500, dtype: object

In [9]:
movies["lead"]

0          Vicky Kaushal
1            Vicky Ahuja
2            Anupam Kher
3          Emraan Hashmi
4       Mona Ambegaonkar
              ...
1495      Shah Rukh Khan
1496    Amitabh Bachchan
1497        Vivek Oberoi
1498          Ajay Devgn
1499        Akshay Kumar
Name: lead, Length: 1500, dtype: object

In [29]:
movies.head()

                                  movie              lead
0              Uri: The Surgical Strike     Vicky Kaushal
1                         Battalion 609       Vicky Ahuja
2  The Accidental Prime Minister (film)       Anupam Kher
3                       Why Cheat India     Emraan Hashmi
4                       Evening Shadows  Mona Ambegaonkar